# Created by .ignore support plugin (hsz.mobi)
.gitignore

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
consumer/src/test/
consumer/target/generated-sources/
consumer/target/generated-test-sources/
consumer/target/test-classes/
producer/src/test/
producer/target/generated-sources/
producer/target/generated-test-sources/
producer/target/test-classes/
service-api/src/main/resources/
service-api/src/test/
service-api/target/generated-sources/
service-api/target/generated-test-sources/
service-api/target/test-classes/
service-zuul/src/test/
service-zuul/target/generated-sources/
service-zuul/target/generated-test-sources/
service-zuul/target/test-classes/
